<!-- app/views/openai/index.html.erb -->
<%= form_with url: openai_path do |form| %>
  <%= form.label :user_input %>
  <%= form.text_field :user_input %>
  <%= form.label :language %>
  <%= form.text_field :language %>
  <%= form.label :length %>
  <%= form.text_field :length %>
  <%= form.label :genre %>
  <%= form.text_field :genre %>
  <%= form.submit "Ask" %>
<% end %>
<br>
<p>Last Story:<%= Story.last.body %></p>
<br>
<br>
<p>Last Prompt:<%= Prompt.last.user_input %></p>
