<!-- app/views/openai/index.html.erb -->
<%= form_with url: openai_path do |form| %>
  <%= form.label :prompt %>
  <%= form.text_field :prompt %>
  <%= form.submit "Ask" %>
<% end %>
<br>
<% if @user_input %>
  <p>Prompt: <%= @user_input %></p>
<% end %>
<br>
<% if @response_text %>
  <p>Response: <%= @response_text %></p>
<% end %>
