<div class="content-container">
  <h2 class="headline">Forgot your password?</h2>

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs form-control">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" } %>

      <div class="form-actions">
        <%= f.button :submit, "Send me reset password instructions", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
  <%= render "devise/shared/links" %>
</div>
