
<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "new_logo.png" %>
    <% end %>
    <form class="d-flex align-items-center">
    <input type="text" placeholder="Search" class="search-bar m-3">
    <button class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
          </li>
          <li class="nav-item">
            <%= link_to root_path, class: "navbar-icon" do %>
            <i class="fa-solid fa-plus m-2 fs-3" style="color:#F8FBFC;"></i>
            <% end%>
          </li>
          <li class="nav-item">
            <%= link_to stories_history_path, class: "navbar-icon" do %>
            <i class="fa-solid fa-clock-rotate-left m-2 fs-3" style="color:#F8FBFC;"></i>
            <% end%>
          </li>
          <li class="nav-item">
            <%= link_to favorites_path, class: "navbar-icon" do %>
            <i class="fa-solid fa-heart m-2 fs-3" style="color:#F8FBFC;"></i>
            <% end%>
          </li>
          <li class="nav-item dropdown">
            <span class="avatar dropdown-toggle" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fa-regular fa-user m-2 fs-3" style="color:#F8FBFC;"></i></span>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
          </div>
        <% else %>
        <div class="button">
            <li class="nav-item">
            <%= link_to "Log in", new_user_session_path, class: "nav-link" %>
            </li>
          <% end %>
        </ul>
      </div>
</div>
