  <% if user_signed_in? %>
    <% if params[:query].present? %>
      <div class="storycard-container">
        <% @stories.each do |story| %>
          <%= render "shared/story_card", story: story %>
        <% end %>
      </div>
    <% else %>
    <%# <div class="teaser">Welcome to Soozie!</div>
    <div class="teaser-description">Start creating your own stories now!</div> %>
      <%= render "shared/prompt" %>
        <% %w(Educational Adventurous Mystery Fairytale).each do |genre| %>
      <div class="container p-0">
        <%= render "shared/category_card", genre: genre %>
        <div class="storycard-container">
          <% Story.joins(:prompt, :favorites).where(prompts: {genre: genre}).group(:id).order("COUNT(favorites.id) DESC").first(3).each do |story| %>
            <%= render "shared/story_card", story: story %>
          <% end %>
        </div>
      </div>
      <% end %>
    <% end %>
  <% else %>
  <%# <div class="teaser">Welcome to Soozie!</div> %>
    <%= render "shared/landing" %>
  <% end %>
