<div class="content-container" data-controller="loading">
  <div class="container">
    <%= render "shared/prompt" %>
    <div class="category-card">
      <div class="category-title">Recently created</div>
    </div>
    <%# recent cards %>
    <div class="storycard-container" data-loading-target="recentcards">
      <% @stories.order(created_at: :desc).first(3).each do |story| %>
        <%= render "shared/story_card", story: story %>
      <% end %>
    </div>
    <%# loading cards %>
    <div class="storycard-container d-none" data-loading-target="loadingcards">
      <%= render "shared/loading_card" %>
      <% @stories.order(created_at: :desc).first(2).each do |story| %>
        <%= render "shared/story_card", story: story %>
      <% end %>
    </div>
    <%# loaded cards %>
    <div class="storycard-container d-none" data-loading-target="loadedcards">
      <%= render "shared/loaded_card" %>
      <% @stories.order(created_at: :desc).first(2).each do |story| %>
        <%= render "shared/story_card", story: story %>
      <% end %>
    </div>
    <h2 class="section-title">Browse community stories</h2>
    </div>
    <% %w(Educational Adventurous Mystery Fairytale).each do |genre| %>
      <div class="container">
        <%= render "shared/category_card", genre: genre %>
        <div class="storycard-container">
          <% Story.joins(:prompt, :favorites).where(prompts: {genre: genre}).group(:id).order("COUNT(favorites.id) DESC").first(3).each do |story| %>
            <%= render "shared/story_card", story: story %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
