<div class="content-container">
  <h1 class="headline"><%= @story.title %></h1>
  <div class="story-container">
    <% if @story.prompt.reference_story %>
      <div class="story-content">
        <p><%= @reference_story.body %></p>
      </div>
      <div class="story-content">
        <p><span data-controller="typed"
          data-typed-sentences-value="<%= [@story.body].to_json %>">
        </span></p>
      </div>
    <% else %>
      <div class="story-content">
        <p><span data-controller="typed"
          data-typed-sentences-value="<%= [@story.body].to_json %>">
        </span></p>
      </div>
    <% end %>
  </div>
  <div data-controller="loading" data-loading-followup-value="<%= @story.id %>">
    <%= render "shared/prompt" %>
  </div>
</div>
